/* ==========================================
   DISPLAY
   ========================================== */
.b-block { display: block !important; }
.b-inline { display: inline !important; }
.b-inline-block { display: inline-block !important; }
.b-hidden { display: none !important; }

.b-overflow-hidden { overflow: hidden !important; }
.b-overflow-auto { overflow: auto !important; }