[data-theme='dark'] {
    --primary: #7dae78;
    --primary-hover: #8bc386;
    --background: #1f1f1f;
    --surface: #1d1e1f;
    --text-primary: #ffffff;
    --text-secondary: #adafaf;
    --border: #3c3c3c;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.2);

    --b-bg-color: #1f2937;
    --b-text-color: #f3f4f6;
    --b-border-color: #374151;
}