:root {
    --primary: #7dae78;
    --primary-hover: #6b9a66;
    --background: #F1F3F4;
    --surface: #ffffff;
    --text-primary: #000000;
    --text-secondary: #656a69;
    --border: #e5e7e9;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

    --b-bg-color: #ffffff;
    --b-text-color: #1f2937;
    --b-border-color: #e5e7eb;
}