:where(html) {
    --b-inset-shadow-alpha-sm: 15%;
    --b-inset-shadow-alpha-md:  20%;
    --b-inset-shadow-alpha-lg:  7.5%;
}

:where(*) {
    --b-inset-shadow-none: inset 0 0 transparent;
    --b-inset-shadow-2xs:  inset 0 1px 0px 0 oklch(var(--b-shadow-color-channels) / var(--b-inset-shadow-alpha-sm));
    --b-inset-shadow-xs:   inset 0 1px 1px 0 oklch(var(--b-shadow-color-channels) / var(--b-inset-shadow-alpha-md));
    --b-inset-shadow-sm:   inset 0 2px 4px 0 oklch(var(--b-shadow-color-channels) / var(--b-inset-shadow-alpha-lg));
}